@mixin colors {
    --reset-css-foreground-primary: #000000;
    --reset-css-foreground-secondary: #18181b;

    --reset-css-background-primary: #ffffff;
    --reset-css-background-secondary: #f8f8f8;
    --reset-css-background-tertiary: #e5e5e5;
    --reset-css-background-layered: rgba(0, 0, 0, .05);

    --reset-css-accent-primary: #0057ad;
    --reset-css-accent-secondary: #0057ad;
    --reset-css-accent-text: #ffffff;

    --reset-css-success-primary: #26c940;
    --reset-css-success-secondary: #38d951;
    --reset-css-success-text: #000000;

    --reset-css-warning-primary: #ff9800;
    --reset-css-warning-secondary: #ff9800;
    --reset-css-warning-text: #000000;

    --reset-css-danger-primary: #fe5f57;
    --reset-css-danger-secondary: #fe6f68;
    --reset-css-danger-text: #000000;
}
