@use "colors-dark";
@use "colors-light";

@import url("./reset.scss");
@import url("./variables.scss");
@import url("./colors.scss");


body,
html {
    max-width: 100vw;
    font-size: var(--reset-css-font-size);
}

body {
    color: var(--reset-css-foreground-primary);
    background: var(--reset-css-background-secondary)
}
