.main {
	padding-bottom: .5rem;
	border-top: 1px solid var(--reset-css-background-tertiary);

	.caption {
		text-align: center;
		padding: 0.5rem 0;
	}

	.wrapper {
		overflow-x: auto;

		table {
			width: 100%;
			border-collapse: collapse;

			.message {
				text-align: center;
			}

			th,
			td {
				text-align: left;
				white-space: nowrap;
				padding: .5rem;
			}

			thead {
				position: sticky;
				top: 0;
				z-index: 200;
			}

			th {
				border-bottom: 2px solid var(--reset-css-background-tertiary);
				font-weight: bold;

				&.sortable {
					cursor: pointer;
					user-select: none;
					padding-right: 2rem;
					text-decoration: underline;
					position: relative;

					.sortIndicator {
						position: absolute;
						padding: 0 0.5rem;
						right: 0;
					}
				}
			}

			td {
				border-bottom: 1px solid var(--reset-css-background-tertiary);

				.mediaLinkIcon {
					padding-left: 0.25rem;
				}
			}
		}
	}
}
