.main {
	background: var(--reset-css-accent-primary);
	color: var(--reset-css-accent-text);
	border: none;
	cursor: pointer;
	border-radius: .25rem;
	padding: .5rem 1rem;
	font-weight: bold;
}

.disabled {
	opacity: .5;
	cursor: not-allowed;
}
